{% extends "base.html" %}

{% block content %}
<div class="container my-4 text-white">
    <h1 class="text-center mb-3">Login Form</h1>
     <form method="post"class="p-4 rounded shadow-lg bg-gradient" style="background: linear-gradient(to right, #4facfe, #00f2fe); color: white;">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
</div>
{% endblock %}